@import 'tailwindcss';
@import 'tw-animate-css';
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
  --background: oklch(95.51% 0 0deg);
  --foreground: oklch(32.11% 0 0deg);
  --card: oklch(97.02% 0 0deg);
  --card-foreground: oklch(32.11% 0 0deg);
  --popover: oklch(97.02% 0 0deg);
  --popover-foreground: oklch(32.11% 0 0deg);
  --primary: oklch(48.91% 0 0deg);
  --primary-foreground: oklch(100% 0 0deg);
  --secondary: oklch(90.67% 0 0deg);
  --secondary-foreground: oklch(32.11% 0 0deg);
  --muted: oklch(88.53% 0 0deg);
  --muted-foreground: oklch(51.03% 0 0deg);
  --accent: oklch(80.78% 0 0deg);
  --accent-foreground: oklch(32.11% 0 0deg);
  --destructive: oklch(55.94% 0.19 25.8625deg);
  --destructive-foreground: oklch(100% 0 0deg);
  --border: oklch(85.76% 0 0deg);
  --input: oklch(90.67% 0 0deg);
  --ring: oklch(48.91% 0 0deg);
  --chart-1: oklch(48.91% 0 0deg);
  --chart-2: oklch(48.63% 0.0361 196.0278deg);
  --chart-3: oklch(65.34% 0 0deg);
  --chart-4: oklch(73.16% 0 0deg);
  --chart-5: oklch(80.78% 0 0deg);
  --sidebar: oklch(93.7% 0 0deg);
  --sidebar-foreground: oklch(32.11% 0 0deg);
  --sidebar-primary: oklch(48.91% 0 0deg);
  --sidebar-primary-foreground: oklch(100% 0 0deg);
  --sidebar-accent: oklch(80.78% 0 0deg);
  --sidebar-accent-foreground: oklch(32.11% 0 0deg);
  --sidebar-border: oklch(85.76% 0 0deg);
  --sidebar-ring: oklch(48.91% 0 0deg);
  --shadow-2xs: 0px 2px 0px 0px hsl(0deg 0% 20% / 7%);
  --shadow-xs: 0px 2px 0px 0px hsl(0deg 0% 20% / 7%);
  --shadow-sm:
    0px 2px 0px 0px hsl(0deg 0% 20% / 15%),
    0px 1px 2px -1px hsl(0deg 0% 20% / 15%);
  --shadow:
    0px 2px 0px 0px hsl(0deg 0% 20% / 15%),
    0px 1px 2px -1px hsl(0deg 0% 20% / 15%);
  --shadow-md:
    0px 2px 0px 0px hsl(0deg 0% 20% / 15%),
    0px 2px 4px -1px hsl(0deg 0% 20% / 15%);
  --shadow-lg:
    0px 2px 0px 0px hsl(0deg 0% 20% / 15%),
    0px 4px 6px -1px hsl(0deg 0% 20% / 15%);
  --shadow-xl:
    0px 2px 0px 0px hsl(0deg 0% 20% / 15%),
    0px 8px 10px -1px hsl(0deg 0% 20% / 15%);
  --shadow-2xl: 0px 2px 0px 0px hsl(0deg 0% 20% / 38%);
  --font-sans: montserrat, sans-serif;
  --font-serif: georgia, serif;
  --font-mono: fira code, monospace;
  --radius: 0.35rem;
}

.dark {
  --background: oklch(21.78% 0 0deg);
  --foreground: oklch(88.53% 0 0deg);
  --card: oklch(24.35% 0 0deg);
  --card-foreground: oklch(88.53% 0 0deg);
  --popover: oklch(24.35% 0 0deg);
  --popover-foreground: oklch(88.53% 0 0deg);
  --primary: oklch(70.58% 0 0deg);
  --primary-foreground: oklch(21.78% 0 0deg);
  --secondary: oklch(30.92% 0 0deg);
  --secondary-foreground: oklch(88.53% 0 0deg);
  --muted: oklch(28.5% 0 0deg);
  --muted-foreground: oklch(59.99% 0 0deg);
  --accent: oklch(37.15% 0 0deg);
  --accent-foreground: oklch(88.53% 0 0deg);
  --destructive: oklch(65.91% 0.153 22.1703deg);
  --destructive-foreground: oklch(100% 0 0deg);
  --border: oklch(32.9% 0 0deg);
  --input: oklch(30.92% 0 0deg);
  --ring: oklch(70.58% 0 0deg);
  --chart-1: oklch(70.58% 0 0deg);
  --chart-2: oklch(67.14% 0.0339 206.3482deg);
  --chart-3: oklch(54.52% 0 0deg);
  --chart-4: oklch(46.04% 0 0deg);
  --chart-5: oklch(37.15% 0 0deg);
  --sidebar: oklch(23.93% 0 0deg);
  --sidebar-foreground: oklch(88.53% 0 0deg);
  --sidebar-primary: oklch(70.58% 0 0deg);
  --sidebar-primary-foreground: oklch(21.78% 0 0deg);
  --sidebar-accent: oklch(37.15% 0 0deg);
  --sidebar-accent-foreground: oklch(88.53% 0 0deg);
  --sidebar-border: oklch(32.9% 0 0deg);
  --sidebar-ring: oklch(70.58% 0 0deg);
  --shadow-2xs: 0 1px 3px 0px hsl(0deg 0% 0% / 5%);
  --shadow-xs: 0 1px 3px 0px hsl(0deg 0% 0% / 5%);
  --shadow-sm:
    0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 1px 2px -1px hsl(0deg 0% 0% / 10%);
  --shadow:
    0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 1px 2px -1px hsl(0deg 0% 0% / 10%);
  --shadow-md:
    0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 2px 4px -1px hsl(0deg 0% 0% / 10%);
  --shadow-lg:
    0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 4px 6px -1px hsl(0deg 0% 0% / 10%);
  --shadow-xl:
    0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 8px 10px -1px hsl(0deg 0% 0% / 10%);
  --shadow-2xl: 0 1px 3px 0px hsl(0deg 0% 0% / 25%);
  --font-sans: montserrat, sans-serif;
  --font-serif: georgia, serif;
  --font-mono: fira code, monospace;
  --radius: 0.35rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
